<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="auctor" content="Robson Barros de Matos">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>HOME</title>
</head>

<body>
<header>
<div class="logo"><a href="">$_rtec(){<br>devweb};</a></div>
</header>

<div class="content-full" id="home">



<section class="left"></section><!--aqui só tem a imagem-->

	<section class="rigth">
			<form method="post" action="">
					<h2>Entre como participante!!</h2>
					<label class="sr-only" for="room-id">codigo da sala</label>
					<input type="number" name="codigo" id="room-id" placeholder=" codigo da sala">
					<input type="submit" name="entrar" value=" ==⧽⧽ Entrar na sala">

				</form>
				<div class="lineum"></div>
				<div class="linecenter">OU</div>
				<div class="linetwo"></div>

			<h2>Crie sua própria sala, de forma Facil</h2>
			<a href="secund-page.html" id="criar"><i class="fa fa-users" aria-hidden="true"></i> Criar sala</a>	
			
</section><!--rigth-->









</div><!--conten-full-->
</body>
</html>


