<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="auctor" content="Robson Barros de Matos">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link rel="stylesheet" type="text/css" href="css/two.css">
	<link rel="stylesheet" type="text/css" href="css/treepag.css">
	<link rel="stylesheet" type="text/css" href="css/style.css"><!--flui em parte  no stilo do header-->
	<title>faca sua pergunta</title>
</head>

<body>
<header>
<div class="logo"><a href="./">$_rtec(){<br>devweb};</a></div>
<div class="buttons-header">
	<div class="code-rigth">
		<div class="btn1">
			<a href="#">#3259
		<i class="fa fa-clone" aria-hidden="true"></i></a>
		</div><!--btn1-->
		<div class="btn2">
			<a href="#" id="links">
			=⧽ entrar na sala
		</a>
		</div>	
	</div>
</div>
</header>



<!-- cabeçalho concluido-->



<div class="content"><!--tive que trocar por que nao quero flex nessa pagina-->
	
		<h2>FAÇA SUA PERGUNTA</h2>
			
			<form id="question-form">
				
						
						<label class="sr-only" for-id="how">o que você quer perguntar?</label>
						<textarea  name="question" placeholder="QUAL A SUA PERGUNTA?"></textarea>
					

				<div id="anonimo">
					<div>
						<i class="fa fa-lock" aria-hidden="true"></i>                   
						essa pergunta é anônima.

					</div>
					<button>Enviar</button>

					
				</div><!--anonimo-->
		

		</form>
<section id="section-questao">
	<h2 class="sr-only">Perguntas da comunidade</h2>
	<div class="questions">
		<div class="questions-wrap ">

			Essa é uma pergunta qualquer?
			<div class="actions">
					<a href="#" class="check"><i class="fa fa-check" aria-hidden="true"></i> marcar como lida</a>
					<a href="#" class="delete"><i class="fa fa-trash-o" aria-hidden="true"></i> excluir</a>
			</div>
		
		</div>



	</div><!--questoes-->
		<div class="questions">
		<div class="questions-wrap">

			Essa é uma pergunta qualquer?
			<div class="actions">
					<a href="#"><i class="fa fa-check" aria-hidden="true"></i> marcar como lida</a>
					<a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> excluir</a>
			</div>
		
		</div>



	</div><!--questoes-->
		<div class="questions">
		<div class="questions-wrap">

			Essa é uma pergunta qualquer?
			<div class="actions">
					<a href="#"><i class="fa fa-check" aria-hidden="true"></i> marcar como lida</a>
					<a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> excluir</a>
			</div>
		
		</div>



	</div><!--questoes-->
		<div class="questions">
		<div class="questions-wrap">

			Essa é uma pergunta qualquer?
			<div class="actions">
					<a href="#"><i class="fa fa-check" aria-hidden="true"></i> marcar como lida</a>
					<a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> excluir</a>
			</div>
		
		</div>



	</div><!--questoes-->


</section>
<div class="modal-full">
	<div class="modal_m">
		<h2>Excluir pergunta</h2>
		<p>Tem certeza que você deseja excluir esta pergunta?</p>
		<form id="form-treepag">
		<label class="sr-only" for-id="password">Digite sua senha admin</label>	
		<input type="password" name="password" placeholder="digite sua senha">
		<div class="buttos">
			<div class="button_cancel">
				<a href="#">Cancelar</a>
			</div>
			<button>Sim excluir</button>


		</div><!--buttos-->
		</form>
	</div><!--modal_m-->
</div><!--modal-->


</div><!--content-->

<script src="js/main.js" defer type="module"></script>

</body>
</html>